 @font-face {
    font-family: 'Intro-Inline'; /* Гарнитура шрифта */
    src: url(../fonts/Intro-Inline.otf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: 'Phosphate'; /* Гарнитура шрифта */
    src: url(../fonts/Phosphate.ttf); /* Путь к файлу со шрифтом */
   }
     @font-face {
    font-family: 'Helvetica'; /* Гарнитура шрифта */
    src: url(../fonts/HelveticaLight.eot); /* Путь к файлу со шрифтом */
   }
     @font-face {
    font-family: 'Condensed-Bold'; /* Гарнитура шрифта */
    src: url(../fonts/DINCondensedBold.ttf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: 'Myriad'; /* Гарнитура шрифта */
    src: url(../fonts/MyriadPro-It.otf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: 'Roboto-Regular'; /* Гарнитура шрифта */
    src: url(../fonts/RobotoRegular.ttf); /* Путь к файлу со шрифтом */
   }
@media screen and (max-width: 800px) {
body{
  margin: 0;
  padding: 0;
}
#wrapper {
  display: block;
}
#pc-container {
  display: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
  
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}
header {
  margin: 0;
  padding: 0;
}
#wrapper {
  width: 740px;
  margin: 0 auto;
}
.main-head {
  font: 19px 'Condensed-Bold', sans-serif;
  
}
.menu-m {
  float: left;
  margin-left: 15px;
  padding: 20px;
}
.upvoc {
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font: 15px 'Intro-Inline', sans-serif;
  float: left;
}
.menu-button {
  background: #ed2756;
  position: relative;
}
.login-m {
  margin-right: 20px;
  float: right;
  padding: 20px;
  position: relative;
}
.login-m:after {
   position: absolute;
  top: 25px;
  right: -13px;
  width: 22px;
  height: 22px;
  float: right;
  font-size: 0;
  cursor: pointer;
  background: url("../img/enter-sprite.png") no-repeat;
  background-size: 80%;
  content: '';
  
}
.close{
  position: absolute;
  top: 1px;
  right: -3px;
  width: 10px;
  height: 10px;
  float: right;
  font-size: 0;
  cursor: pointer;
  background: url("../img/show-cross.png") no-repeat;
  background-size: 60%;
}
p.open-menu {
  color: white;
  font: 14px 'Condensed-Bold', sans-serif;
  text-align: center;
  padding: 3px;
  position: relative;
}
.after-m {
  position: relative;
}
.after-m:after {
 cursor: pointer;
  top: -1px;
  right: -42px;
  content: "";
  width: 56px;
  height: 20px;
  position: absolute;
  background: url("../img/native-ic-m.png") no-repeat center;
  color: black;
}
.dictboxer1:before{
  cursor: pointer;
  top: 8px;
  right: 96px;
  content: "";
  width: 9px;
  height: 5px;
  position: absolute;
  background: url("../img/native-ic.png") no-repeat center;
  display: none;
}
.my-lang {
  padding: 20px;
  margin-right: 40px;
  float: right;
}
a.switch-lang {
  padding: 20px;
  border-bottom: 1px dotted white;
  padding: 1px 1px;
  margin-left: 40px;
  position: relative;
}
.switch-lang:after {
  cursor: pointer;
  top: 2px;
  right: -37px;
  content: "";
  width: 56px;
  height: 20px;
  position: absolute;
  background: url("../img/native-ic-m.png") no-repeat center;
}
.top-section-m {
  background: #b92b27;
  

}
.range-filter-m{
  width: 174px;
  text-align: center;
  
}
.range-controls-m{
  position: relative;
  padding-top: 8px;
    
    padding-bottom: 20px;
    margin-left: 25px;
}
.range-controls-m .scale{
  
  height: 1px;
  background: #999999;
}
.range-controls-m .circle{
  position: absolute;
  top: 2px;
  background: #F7F7F7;
  width: 12px;
  height: 12px;
  border:1px solid #999999;
  border-radius: 50%;
}

.range-controls-m .circle1{
  position: absolute;
  top: 2px;
  left: -5px;
  background: #F7F7F7;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  display: inline-block;
}

.range-controls-m .circle2{
  left: 70px;
}
.range-controls-m .circle3{
  left: 145px;
  
}
#slidedifficult2-m:checked ~ .circle3:after{
  left: -73px;
}

#slidedifficult1-m:checked ~ .circle3:after{
  left: -148px;
}
.bottom-section-m {
  background: #efefef;
}
.bottom-section-m ul {
  list-style: none;
  margin: 0;
  text-align: center;
  padding-left: 0;
}
.main-head a {
  color: white;
  text-decoration: none;
}
.bottom-section-m a {
  color: black;
  display: inline-block;
  padding: 10px;
  margin: 6px 0;
  border-right: 2px solid #dddddd;
}
.bottom-section-m a:last-child {
  border-right: none;
}
.translate-line {
  position: relative;
  
  background: #fffb80 url("../img/top-line-bg.png") no-repeat;
  background-size: 40%;
  
}
.advice {
  padding-left: 30px;
  font: 16px/18px 'Helvetica', sans-serif;
  vertical-align: middle;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #515450;
}
.word {
  padding: 12px;
  font: 16px 'Myriad', sans-serif;
  margin: 0;
  color: #68675f;
}
.allocation-m{
  margin-left: 200px;
  float: left;
}
.titlebox-m{

  float: left;
}
 .name-news-m{
  display: inline-block;
  width: 90%;
  margin-bottom: 10px;
  text-align: left;
  font: 32px 'Condensed-Bold', sans-serif;
  
}
.name-news-m a {
  color: #2980b9;
}
.newsinform{
  color: #2A81B4;
  font: 12px 'Helvetica', sans-serif;
  margin-left: 0;

}
.news{
  font: 17px 'Helvetica', sans-serif;
  color: #000;
    background: url('gradient-news.png') repeat-x;
    text-align: left;
 
}
.more-news{
  display: inline-block;
  margin-top: 20px;
  font: 12px 'Helvetica', sans-serif;
  color: #2A81B4;
  margin-bottom: 30px;

}
.novelty{
  border-bottom: 1px solid #E5E5E5;
}
.content {
  width: 700px;
  margin: 0 auto;
}
.close{
  position: absolute;
  top: 9px;
  right: 20px;
  width: 20px;
  height: 20px;
  float: right;
  font-size: 0;
  cursor: pointer;
  background: url("../img/show-cross.png") no-repeat;
  background-size: 30%;
}
.range-filter-m {
  margin: 0 auto;
 
}
.mobile-panel-title {
  font: 14px 'Roboto-Regular', sans-serif;
  
}
.mobile-panel {
  width: 80%;
  margin: 0 auto;
  display: none;
}
.left-title-auto-m,
.left-title-word-m
 {
  font: 10px 'Helvetica', sans-serif;
  color: grey;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 0;
  margin-top: 10px;
}
.left-title-word-m {
  margin: 0;
}
.left-title-auto-m {
  margin-bottom: 30px;
}
.mobile-slider1,
.mobile-slider2 {
  float: right;
  text-align: right;
}
.mobile-slider1 {
  margin-top: 10px;

}
.mobile-slider2 {
    margin: 0;
    margin-top: 10px;
}
.savewords {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
}
.mobile-save {
  font: 12px 'Helvetica', sans-serif;
  color: grey;
  float: left;
  margin: 0;
}
.mobile-dict {
  font: 12px 'Helvetica', sans-serif;
  color: grey;
  float: right;
  margin: 0;
  border-bottom: 2px dotted #999999;
  padding-bottom: 2px;
  position: relative;
}
.mobile-dict:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: url('../img/native-ic.png') no-repeat;
  top: 5px;
  left: 50px;
}
.left-title-auto-m,
.left-title-word-m
 {
  font: 16px 'Helvetica', sans-serif;
  color: grey;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 0;
  margin-top: 10px;
}


}

























@media screen and (max-width: 980px) {
    #wrapper {
      width: 95%;
   }
   .content {
    width: 90%;
   }
   
}
@media screen and (max-width: 650px) {
    .translate-line {
      position: relative;
  
      background: #fffb80 url("../img/top-line-bg.png") no-repeat;
      background-size: 26% ;

  
} 
  .login-m:after {
   position: absolute;
  top: 24px;
  right: -13px;
  width: 20px;
  height: 20px;
  float: right;
  font-size: 0;
  cursor: pointer;
  background: url("../img/enter-sprite.png") no-repeat;
  content: '';
}
 
}

@media screen and (max-width: 480px) {

   html {
      -webkit-text-size-adjust: none;
   }
   .upvoc {
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font: 9px 'Intro-Inline', sans-serif;
  float: left;
  }
  .main-head {
  font: 10px 'Condensed-Bold', sans-serif;
  
}

 .range-filter-m{
  width: 174px;
  text-align: center;
  
} 
.login-m:after {
   position: absolute;
  top: 21px;
  right: -3px;
  width: 20px;
  height: 20px;
  float: right;
  font-size: 0;
  cursor: pointer;
  background: url("../img/enter-sprite.png") no-repeat;
  background-size: 60%;
  content: '';
}

.switch-lang:after {
  cursor: pointer;
  top: -1px;
  right: -37px;
  content: "";
  width: 56px;
  height: 20px;
  position: absolute;
  background: url("../img/native-ic-m.png") no-repeat center;
}
.my-lang {
  padding: 20px;
  margin-right: 10px;
  float: right;
}
a.switch-lang {
  padding: 20px;
  border-bottom: 1px dotted white;
  padding: 1px 1px;
  margin-left: 10px;
  position: relative;
}

   .bottom-section-m a li {
      font-size: 80%;
      
   }
   .bottom-section-m a {
    

   }
   .bottom-section-m li {
      text-align: center;

   }
   .bottom-section ul {
    padding-left: 0;
   }

  .name-news-m a {
    font: 20px 'Condensed-Bold', sans-serif;
  }
  .news{
  font: 12px 'Helvetica', sans-serif;
  text-align: left;
}
.advice {
font: 11px 'Helvetica', sans-serif;
padding-top: 7px;
padding-bottom: 0;
margin-bottom: 5px;
}
.word {
 padding: 0;
 margin-top: 7px;
 margin-left: 20px;
  font: 9px 'Myriad', sans-serif;
 
 
}
.allocation-m {
  margin-left: 10px;
  float: right;
}
.close{
  position: absolute;
  top: 1px;
  right: -4px;
  width: 10px;
  height: 10px;
  float: right;
  font-size: 0;
  cursor: pointer;
  background: url("../img/show-cross.png") no-repeat;
  background-size: 40%;
 
}
.translate-line {
  position: relative;
  
  background: #fffb80 url("../img/top-line-bg.png") no-repeat;
  background-size: 48%;
  
}
.left-title-auto-m,
.left-title-word-m
 {
  font: 12px 'Helvetica', sans-serif;
  color: grey;
  margin-left: 50px;

  margin-top: 10px;
}
.left-title-word-m {
  margin-top: 19px;
}
.mobile-slider1 {
 
}
.mobile-slider1,
.mobile-slider2 {
  float: right;
  text-align: right;
}
.mobile-slider1 {
 
  margin-top: 20px;
  margin-right: -50px;
}
.mobile-slider2 {
    margin: 0;
    margin-top: 10px;
}
.savewords {

  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
  margin-left: 40px;
}
.sorting-block {
  width: 120%;
  margin: 0 auto;
}

}

