 @font-face {
    font-family: 'Intro-Inline'; /* Гарнитура шрифта */
    src: url(../fonts/Intro-Inline.otf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: 'Phosphate'; /* Гарнитура шрифта */
    src: url(../fonts/Phosphate.ttf); /* Путь к файлу со шрифтом */
   }
     @font-face {
    font-family: 'Helvetica'; /* Гарнитура шрифта */
    src: url(../fonts/HelveticaLight.eot); /* Путь к файлу со шрифтом */
   }
     @font-face {
    font-family: 'Condensed-Bold'; /* Гарнитура шрифта */
    src: url(../fonts/DIN Condensed Bold.ttf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: 'Myriad'; /* Гарнитура шрифта */
    src: url(../fonts/MyriadPro-It.otf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: 'Roboto-Regular'; /* Гарнитура шрифта */
    src: url(../fonts/RobotoRegular.ttf); /* Путь к файлу со шрифтом */
   }

body{
	margin: 0;
	padding: 0;
	font-family: 'Myriad Pro';
	font-size: 12px;
	line-height: 14px;
	color: #5D5D5D;
}
a{
	
	text-decoration: none;
}
a.register{
	color: #5D5D5D;
}
ul{
	list-style: none;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
	
}
.logo{
	font-family: 'Intro-Inline';
	color: #323232;
	font-size: 42px;
	line-height: 51px;
	padding: 35px;
	float: left;
	padding-top: 55px;
}
.logo a,
.menu a{
	color: #323232;
}
.logo-p{
	padding: 0;
	margin: 0;
	font-family: 'Intro-Inline';
	font-size: 8px;
	line-height: 9px;
}
p{
	margin: 0;
	padding: 0;
}
.header{
	float: left;
	margin-left: 40px;
}
.form-p{
 display: inline-block;
}
.top-section{
	margin-top: 43px;
	width: 900px;
	border-bottom: 1px solid #3D434B;
	padding-bottom: 15px;
}
.content{
	text-align: center;
}	
.login-form{
	margin-left: 30px;
	display: inline-block;
}
.soc-p{
	display: inline-block;
	margin-left: 30px;
}
.login,
.password {
	padding: 6px 10px;
	font-family: 'Helvetica', sans-serif;
	color: #ccc;
	border: 1px solid #3D434B;
	outline: none;
}
.login:focus,
.password:focus{
	outline: none;
}
.ic{
	margin: 0 2px;
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 35px;
	font-size: 0;
	text-decoration: none;
	background:  url("../img/social-icons.jpg") no-repeat;
}
.soc-ic{
	margin-left: 30px;
	display: inline-block;
}

.soc-ic a{
	display: inline-block;
	
}
.vk-ic{
	
	background-position: -157px -143px;
}
.vk-fb{
	
	background-position: -243px -143px;
}
.vk-ok{
	
	background-position: -412px -143px;
}
.register{
	margin-left: 20px;
	text-decoration: none;
}
.reg{
	text-decoration: underline;
}
.menu li{
	display: inline-block;
	padding-left: 40px;

}
.menu{
	text-align: center;
	font-family: 'Condensed-Bold', sans-serif;
	font-size: 26px;
	line-height: 32px;
	color: black;
	text-transform: uppercase;
}
.main-header{
	border-bottom: 5px solid #E74A42;
	background: #F9F9F9;
}	
.middle-section{
	margin-top: 10px;
}
.top-line{
	width: 100%;
	background: #FFFF6D url("../img/top-line-bg.png") no-repeat;
}
.title-line{
	padding-left: 30px;
	font: 16px/18px 'Helvetica', sans-serif;
	vertical-align: middle;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #3D434B;
}
.titlebox{

	float: left;
}
.allocation{
	margin-left: 200px;
	float: left;
}
.allocation p{
	padding: 12px 0;
	font: 16px 'Myriad', sans-serif;
}
.showbtn{
	float: right;
	padding: 14px 0;
	margin-right: 100px;
	position: relative;
}
.checkbox{
	display: none;
}
.checkbox + label{
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.checkbox + label::before{
	content: "";
	position: absolute;
	top: 0px;
	left: -20px;
	width: 10px;
	height: 10px;
	border: 1px solid #5B5B5B;
	background: #F9F9F9;
}

.checkbox:checked + label::before{
	background: #F9F9F9 url("../img/check.png") no-repeat;
}
.close{
	position: absolute;
	top: 0;
	right: -70px;
	width: 40px;
	height: 40px;
	float: right;
	font-size: 0;
	cursor: pointer;
	background: url("../img/show-cross.png") no-repeat center;
}
.left-window{
	float: left;
	margin-left: 100px;
}
.right-window{
	float: right;
	margin-right: 100px;
}
.translate-block{
	padding: 5px 0;
	margin-top: 10px;
	width: 100%;
	background: #F7F7F7;
}
.translate-block textarea{
	border: 1px solid #999999;
	width: 520px;
	resize: none;
}
.translate-block textarea:focus{
	outline: none;
}
.translate-functions{
	float: left;
	font: 12px/13px 'Helvetica', sans-serif;
	font-weight: bold;
	text-align: center;
	position: relative;
	
}
.function-underline{
	border-bottom: 2px dotted #5d5d5d;
}
.translate-functions p{
	display: inline-block;
}	
.left-inter{

	position: relative;
	margin-left: 30px;
}
.right-inter{
	position: relative;
	margin-left: 35px;

}
.left-inter:after{
	cursor: pointer;
	top: 0px;
	right: -25px;
	content: "";
	width: 56px;
	height: 20px;
	position: absolute;
	background: url("../img/underline.png") no-repeat center;

}
.right-inter:after{
	cursor: pointer;
	top: 0px;
	right: -15px;
	content: "";
	width: 50px;
	height: 20px;
	position: absolute;
	background: url("../img/underline-right.png") no-repeat center;
}
.arrow-box{
	cursor: pointer;
	width: 33px;
	height: 27px;
	border: 2px solid #999999;
	position: absolute;
	top: 15px;
	left: 150px;
	margin: 10px auto;
	background: url('../img/box-arrows.png') no-repeat center;
}
